a{
	text-decoration: none !important;
}
footer{
	background-color: #34495E;
}
footer h3{
	color: #fff;
}
footer p,
.links-company li a{
	color: #BDC3C7;
}
.links-company ul{
	list-style: none;
}
.links-company li{
	display: list-item;
}
.links-company li a{
	text-transform: capitalize;
}
