@import url(../css/font-awesome.min.css);
h1, h2, h3, h4, h5, h6, p{
	margin: 0px;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.navbar{
	background-color: #34495E;
	padding: 1% 0;
	margin-bottom:0;
	border-radius:0;
}
.nav{
	float: right;
	margin-top: 1%;
	background-color: #34495E;
}
.nav a{
	color: white;
}
.nav-pills>li>a:hover{
	background-color: #2C3E50;
}
.green-box{
 background-color:#2ECC71;
 padding-top:4%;
 padding-bottom:4%;
}
.green-box h1{
margin-top:0;
margin-bottom:0;
}	
.home{
padding-right:4%;
background-color:transparent;
}
h1,h2,h3,h4,h5,h6{
margin:0;
padding:0;
}
.h1,.h2,.h3,.h4,.h5,.h6{
margin:0;
padding:0;
}
.transparent{
background-color:transparent;
}
.transparent a{
text-decoration:none;
}
.transparent>a:hover{
color:white;
text-decoration:none;
}
.text-carousel{
background-image: url(../images/slider/bg1.jpg);
background-repeat: no-repeat;
background-size:contain;
height:527px;
padding:0;
}
.text-carousel>h1{
margin:0;
color:white;
position:absolute;
top:37%;
left:9%;
}
.text-carousel>p{
color:white;
position:absolute;
top:46%;
left:9%;
}
.iconos{
background-color: #1C7A44;
border-radius: 50%;
height: 90px;
width: 90px;
float:left;

}
.iconos .fa{
color:white;
font-size:30px;
margin:auto;
padding:37%;
}
.social>h1{
font-size:20px;
width:300%;
color:white;
margin-bottom:4%;
}
.social>p{
width:280%;
color:rgba(255, 255, 255, 0.76);
font-size:13px;
}
.bg-gris{
background-color:#F5F5F5;
height:527px;
padding:8%;
}
.bg-gris h1{
font-size:24px;
padding-bottom:2%;
color:#364A5F;
}
.bg-gris p{
color:#6D7C8B;
}
.red{
background-color: #D9534F;
border: 1px solid #D74C48;
color: white;
}
.bg-white{
background-color: white;
padding:4%;
padding-bottom:2%;
}
.picture-img{
width:100%;
}
.picture>p{
margin-top:5%;
font-weight:bold;
}
.bg-danger{
width:100%;
padding:4%;
background-color:#D9534F;
}
.bg-danger{
color:white;
}
blockquote{
padding:2%;
}
blockquote small{
color:white;
}
.text-center{
padding:0.1%;
padding-bottom:1%;
}
a{
	text-decoration: none !important;
}
ul, ol{
	margin: 0px;
	padding: 0px;
}
.pr-0{
	padding-right: 0px;
}
.prefooter{
	background-color: #34495E;
	padding-top: 28px;
	padding-bottom: 35px;
}
.prefooter h3{
	color: #fff;
	padding-top: 14px;
	padding-bottom: 14px;
}
.prefooter,
.links-company a,
.latest-blog a,
footer,
footer a{
	color: #BDC3C7;
}
.links-company ul,
footer ul{
	list-style: none;
}
.links-company li{
	display: list-item;
}
.links-company li a{
	text-transform: capitalize;
}
.links-company li a:hover{
	color: #fff;
}
ul.arrow li::before{
	content:"\f105";
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-right: 7px;
}
.prefooter img{
	width: auto;
	height: auto;
}
.latest-blog span{
	font-size: 13px;
	display: block;
}
footer{
	background-color: #2C3E50;
	padding-top: 35px;
	padding-bottom: 35px;
}
footer a:hover{
	color: inherit;
}
footer ul li{
	display: inline-block;
	padding-right: 21px;
}

/*ABOUT US*/

.progress, .progress .bar {
    background: #fff;
    box-shadow: none;
    height: 30px;
    line-height: 30px;
}
.bg-gris{
	background-color: #F5F5F5;
}
.section-about-us{
	padding-top: 50px;
	padding-bottom: 50px;
}
.what-we-are h2,
.meet-the-team h1{
	margin-top: 20px;
    margin-bottom: 10px;
}
.meet-the-team{
	text-align: center;
	padding-top: 50px;
}
.meet-the-team .subtitle{
	font-size: 21px;
	margin-bottom: 50px;
}
.person-description h5{
	padding-top: 7px;
}
.person-description img,
.john-doe img{
	border: none;
}
.text-senior{
	display: block;
	padding-top: 7px;
	padding-bottom: 14px;
}
.boton{
	display: inline-table;
	border-radius: 50%;
	color: #fff;
	margin: 7px 1px;
	width: 35px;
	height: 35px;
}
.boton i{
	border-radius: 50%;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
.boton:hover i{
	color: #fff;
}
.boton:hover{
	opacity: 0.7;
}
.boton-fb{
	background-color: #4F7DD4;
}
.boton-gp{
	background-color: #DC422B;
}
.boton-twit{
	background-color: #5BCEFF;
}
.boton-lk{
	background-color: #21A6D8;
}

/*BLOG ITEM*/
.section-blog-item{
	padding-top: 50px;
	padding-bottom: 50px;
}
.img-blog{
	width: 100%;
	border-radius: 5px 5px 0px 0px;
}
.blog-contenido{
	padding: 21px;
	background-color: #fff;
	border-radius: 0px 0px 5px 5px;
}


.john-doe{
	margin: 14px;
	border-radius: 5px;
	padding: 14px 14px 28px;
}