@import url(../css/font-awesome.min.css);
h1, h2, h3, h4, h5, h6, p{
	margin: 0px;
}
a{
	text-decoration: none !important;
}
ul, ol{
	margin: 0px;
	padding: 0px;
}
.pr-0{
	padding-right: 0px;
}
.prefooter{
	background-color: #34495E;
	padding-top: 28px;
	padding-bottom: 35px;
}
.prefooter h3{
	color: #fff;
	padding-top: 14px;
	padding-bottom: 14px;
}
.prefooter,
.links-company a,
.latest-blog a,
footer,
footer a{
	color: #BDC3C7;
}
ul.arrow,
footer ul,
.tags-area ul,
ul.tag-cloud{
	list-style-type: none;
}
.links-company li{
	display: list-item;
}
.links-company li a{
	text-transform: capitalize;
}
.links-company li a:hover{
	color: #fff;
}
ul.arrow li::before{
	content:"\f105";
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-right: 7px;
}
.prefooter img{
	width: auto;
	height: auto;
}
.latest-blog span{
	font-size: 13px;
	display: block;
}
footer{
	background-color: #2C3E50;
	padding-top: 35px;
	padding-bottom: 35px;
}
footer a:hover{
	color: inherit;
}
footer ul li{
	display: inline-block;
	padding-right: 21px;
}

/*ABOUT US*/

.progress, .progress .bar {
    background: #fff;
    box-shadow: none;
    height: 30px;
    line-height: 30px;
}
.bg-gris{
	background-color: #F5F5F5;
}
.section-about-us{
	padding-top: 50px;
	padding-bottom: 50px;
}
.what-we-are h2,
.meet-the-team h1,
.contact-us h4{
	margin-top: 20px;
    margin-bottom: 10px;
}
.meet-the-team{
	text-align: center;
	padding-top: 50px;
}
.meet-the-team .subtitle{
	font-size: 21px;
	margin-bottom: 50px;
}
.person-description h5{
	padding-top: 7px;
}
.person-description img,
.john-doe img{
	border: none;
}
.text-senior{
	display: block;
	padding-top: 7px;
	padding-bottom: 14px;
}
.boton{
	display: inline-table;
	border-radius: 50%;
	color: #fff;
	margin: 7px 1px;
	width: 35px;
	height: 35px;
}
.boton i{
	border-radius: 50%;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
.boton:hover i{
	color: #fff;
}
.boton:hover{
	opacity: 0.7;
}
.boton-fb{
	background-color: #4F7DD4;
}
.boton-gp{
	background-color: #DC422B;
}
.boton-twit{
	background-color: #5BCEFF;
}
.boton-lk{
	background-color: #21A6D8;
}

/*BLOG ITEM*/
.section-blog-item{
	padding-top: 50px;
	padding-bottom: 50px;
}
.img-blog{
	width: 100%;
	border-radius: 5px 5px 0px 0px;
}
.blog-contenido{
	padding: 21px;
	background-color: #fff;
	border-radius: 0px 0px 5px 5px;
}
.blog-contenido h3{
	padding-bottom: 14px;
	color: #000;
}
.blog-contenido:hover{
	color: inherit;
}
.blog-sub-links{
	font-size: 12px;
	color: #999;
}
.blog-sub-links span{
	margin-right: 14px;
}
.blog-sub-links span i{
	margin-right: 4px;
}
.blog-sub-links a{
	color: #999;
}
.blog-title-1{
	font-size: 21px;
	padding-top: 21px;
	padding-bottom: 7px;
	line-height: 1.5;
}
.blog-subtitle-1{
	padding-top: 7px;
	padding-bottom: 14px;
}
.tags-area{
	padding-bottom: 14px;
}
.tags-area ul,
.tags-area li{
	display: inline-block;
	margin-right: 3px;
}
.john-doe{
	margin: 14px 0px;	
}
.john-doe,
.media-body .bg-gris{
	border-radius: 5px;
	padding: 14px 14px 28px;
}
.media-body .bg-gris,
.media-sub{
	margin-left: 14px;
}
.media-sub{
	padding-bottom: 28px;
}
.john-doe .media-body{
	padding-left: 14px;
}
.john-doe .media-body .media-heading,
.section-comments .media-body .media-heading{
	font-weight: 600;
}
.section-comments .media-body .media-heading{
	display: inline-block;
}
.section-comments .media-body small{
	margin-left: 7px;
	display: inline-block;
}
.section-comments .media-body a{
	color: #000;
}
.section-comments .media-body a:hover{
	color: inherit;
}
.section-leave-commment{
	padding-top: 28px;
}
.input-group{
	margin-bottom: 21px;
}
.ads .row{
	margin-top: 7px;
	margin-bottom: 21px;
}
.categories,
.categories .arrow,
.tags,
.tags h3{
	padding-top: 7px;
	padding-bottom: 14px;
}
.categories a,
.categories a:hover{
	color: black;
}
.tag-cloud li{
	display: inline-block;
	margin-right: 1px;
	margin-bottom: 3px;
}
.contact-us,
.item-boxs{
	padding-top: 50px;
	padding-bottom: 50px;
}
.img-portfolio{
	width: 100%;
}
.pd-white{
	background-color: #fff;
	display: block;
  	padding: 12px;
  	margin-bottom: 30px;
  	border: 1px solid #eee;
  	cursor: pointer;
}
.pd-white:hover{
	color: inherit;
	
}
.pd-white:hover img{
	-webkit-transition:all .9s ease;
	-moz-transition:all .9s ease;
	-o-transition:all .9s ease;
	-ms-transition:all .9s ease;
	opacity: 0.5;
}
.pd-white h5{
	color: #000;
	padding-top: 5px;
}